@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');
@import "./componentStyles/header";
@import "./componentStyles/variables";
@import "./componentStyles/statistic";
@import "./componentStyles/footer";
@import "./componentStyles/switchButton";
@import "./componentStyles/buttonStyled";
@import "./componentStyles/flashMessage";

@import "./componentStyles/MainPage/mainPage";
@import "./componentStyles/MainPage/mainTournamentList";

@import "./componentStyles/Login/loginPage";
@import "./componentStyles/Registration/registrationPage";
@import "./componentStyles/ChangePassword/changePassword";

@import "./componentStyles/User/profilePage";
@import "./componentStyles/User/profileTeamsSection";
@import "./componentStyles/User/usersPage";
@import "./componentStyles/User/usersList";
@import "./componentStyles/User/usersListItem";
@import "./componentStyles/User/adminSection";

@import "./componentStyles/Team/teamPage";
@import "./componentStyles/Team/teamMembers";
@import "./componentStyles/Team/teamTournamentsInTeam";
@import "./componentStyles/Team/createTeamPage";
@import "./componentStyles/Team/createPageTeamMembers";
@import "./componentStyles/Team/teamsPage";
@import "./componentStyles/Team/teamsList";
@import "./componentStyles/Team/teamsListItems";

@import "./componentStyles/Tournament/tournamentSchedule";
@import "./componentStyles/Tournament/tournamentPage";
@import "./componentStyles/Tournament/tournamentsPage";
@import "./componentStyles/Tournament/tournamentParticipants";
@import "./componentStyles/Tournament/tournamentMoreInfo";
@import "./componentStyles/Tournament/tournamentsList";
@import "./componentStyles/Tournament/createTournamentPage";

@import "./componentStyles/Sport/sportPage";
@import "./componentStyles/Sport/sportsList";
@import "./componentStyles/Sport/sportsListItem";




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}


body{
    background-color: $mainBlue;

    &::-webkit-scrollbar {
        // display: none;
        width: 8px; 
        height: 10px; 
        margin-right: 5px;
        opacity: 0;
    }
    
    &::-webkit-scrollbar-thumb { 
        background: $scrollbarBlack;
        // background: transparent;
        border-radius: 20px;
        opacity: 0;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        // background: $mainBlue;
        border-radius: 20px;
        opacity: 0;
    }
}

.hidden-element{
    display: none !important;
}



