@import url(https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap);
header {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 10px;
  background-color: #23273E;
}
header .hidden-element {
  display: none;
}
header div, header ul, header a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
header a {
  text-decoration: none;
}
header a img {
  transform: scale(0.8);
}
header a h2 {
  font-size: 2.5em;
  font-weight: 600;
  color: #FFDFD0;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
header nav > a {
  text-decoration: underline;
  color: #FFDFD0;
  font-size: 1.2em;
}
header #not-logged-in li {
  list-style: none;
  border-radius: 50px;
}
header #not-logged-in li a {
  text-decoration: none;
  border-radius: 50px;
  padding: 4px 40px;
  font-weight: 800;
  cursor: pointer;
  font-size: 1.2em;
}
header #not-logged-in li #login-button {
  background-color: #FFDFD0;
  color: #23273E;
}
header #not-logged-in li #registration-button {
  border: 2px solid #FFDFD0;
  color: #FFDFD0;
}
header #logged-user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-left: 50px;
}
header #logged-user h3 {
  font-size: 1.5em;
  color: #FFDFD0;
}
header #logged-user img {
  transform: scale(0.8);
}
header #logged-user #logged-user-div {
  cursor: pointer;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
header #logged-user #user-nav-div {
  position: absolute;
  top: 100px;
  right: 20px;
  padding: 40px;
  z-index: 3;
  background-color: white;
  border-radius: 30px;
}
header #logged-user #user-nav-div ul {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
}
header #logged-user #user-nav-div ul li {
  list-style: none;
}
header #logged-user #user-nav-div ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  font-size: 1.2em;
  color: #23273E;
}

section#statistic {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-self: flex-start;
}
section#statistic h3 {
  width: 95%;
  text-align: right;
  color: #FFDFD0;
  font-size: 2em;
}
section#statistic div#statistic-table {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  border-radius: 25px;
  background-color: #FFDFD0;
  color: #23273E;
}
section#statistic div#statistic-table h4 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
  text-decoration: underline;
}
section#statistic div#statistic-table ul {
  list-style: none;
  margin-bottom: 10px;
}
section#statistic div#statistic-table ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  -moz-column-gap: 80px;
       column-gap: 80px;
  padding-left: 80px;
}
section#statistic div#statistic-table ul li p {
  width: 40%;
  text-align: left;
}

footer {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}
footer svg {
  position: relative;
  width: 120%;
  z-index: 2;
}
footer div, footer ul, footer nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
footer nav {
  padding-right: 5%;
  top: -7px;
}
footer div {
  padding-left: 5%;
  top: -22px;
}
footer div img {
  transform: scale(0.6);
}
footer div h2 {
  font-size: 2.2em;
  font-weight: 600;
  color: #FFDFD0;
}
footer ul li {
  list-style: none;
  border-radius: 50px;
}
footer ul li a {
  color: #FFDFD0;
  text-decoration: underline;
  padding: 4px 30px;
  font-weight: 800;
  cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  outline: solid 2px #FFDFD0;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #FFDFD0;
  transition: 0.4s;
}

.slider.triggered:before {
  background-color: #23273E;
}

input:checked + .slider {
  background-color: #FFDFD0;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.button-styled {
  padding: 4px 20px;
  color: #FFDFD0;
  font-weight: 800;
  border: 2px solid #FFDFD0;
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
}

.button-styled-full {
  padding: 4px 20px;
  color: #23273E;
  font-weight: 800;
  border: 2px solid #FFDFD0;
  background-color: #FFDFD0;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
}

main#main-page {
  margin-bottom: 40vh;
}
main#main-page #quote {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 100px;
}
main#main-page #quote h1 {
  font-size: 4.5em;
  color: #FFDFD0;
}
main#main-page #quote a {
  width: 50px;
  height: 50px;
  padding-top: 4px;
  padding-left: 9px;
  font-size: 2.5em;
  font-weight: 800;
  writing-mode: vertical-rl;
  text-decoration: none;
  color: #23273E;
  background-color: #FFDFD0;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-tournament-list {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
}
.main-tournament-list h2 {
  width: 50%;
  font-size: 3em;
  font-weight: 400;
  color: #FFDFD0;
}
.main-tournament-list a {
  padding: 4px 40px;
  cursor: pointer;
  text-decoration: none;
}
.main-tournament-list div {
  width: 100%;
  height: 70vh;
  overflow-y: auto;
}
.main-tournament-list div::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}
.main-tournament-list div::-webkit-scrollbar-thumb {
  background: #FFDFD0;
  border-radius: 20px;
}
.main-tournament-list div::-webkit-scrollbar-track {
  background: #23273E;
  border-radius: 20px;
}
.main-tournament-list div ul li {
  width: 95%;
  height: 100px;
  border: solid 2px #FFDFD0;
  border-radius: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}
.main-tournament-list div ul li a {
  width: 100%;
  text-decoration: none;
  padding: 0;
}
.main-tournament-list div ul li a div {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.main-tournament-list div ul li a div:first-child {
  height: 60%;
  justify-content: flex-start;
  background-color: #FFDFD0;
  border-radius: 15px;
  color: #23273E;
  outline: 2px solid #FFDFD0;
}
.main-tournament-list div ul li a div:first-child p {
  width: 33.3333333333%;
}
.main-tournament-list div ul li a div:first-child p:nth-child(2) {
  font-weight: 800;
  font-size: 1.2em;
  text-align: center;
}
.main-tournament-list div ul li a div:nth-child(2) {
  height: 40%;
  justify-content: space-between;
  color: #FFDFD0;
}
.main-tournament-list div ul li a div:nth-child(2) p {
  width: 33.3333333333%;
}
.main-tournament-list div ul li a div:nth-child(2) p:nth-child(2) {
  text-align: center;
}
.main-tournament-list div ul li a div:nth-child(2) p:nth-child(3) {
  text-align: right;
}
.main-tournament-list div ul li:last-child {
  margin-bottom: 0;
}

#login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
#login-page section {
  display: flex;
  justify-content: center;
  align-items: center;
}
#login-page section:first-child {
  width: 35%;
  height: 100%;
  flex-direction: column;
  row-gap: 60px;
  color: #FFDFD0;
  background-color: #23273E;
}
#login-page section:first-child h1 {
  font-size: 3em;
}
#login-page section:first-child form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
}
#login-page section:first-child form input {
  width: 65%;
  padding: 3px 10px;
  border: 2px solid #FFDFD0;
  border-radius: 30px;
  background-color: transparent;
  color: #FFDFD0;
}
#login-page section:first-child form input::-moz-placeholder {
  color: #FFDFD0;
}
#login-page section:first-child form input::placeholder {
  color: #FFDFD0;
}
#login-page section:first-child form input:focus {
  outline: none !important;
  box-shadow: 0 0 5px #FFDFD0;
}
#login-page section:first-child form input[type=submit] {
  width: 30%;
  margin-top: 10px;
  color: #23273E;
  font-size: 1.2em;
  font-weight: 800;
  background-color: #FFDFD0;
  cursor: pointer;
}
#login-page section:first-child a#registration-link {
  text-decoration: underline;
  color: #FFDFD0;
}
#login-page section:first-child a#mainPage-link {
  position: absolute;
  bottom: 30px;
  left: 40px;
  text-decoration: none;
  color: #FFDFD0;
}
#login-page section:first-child a#mainPage-link svg {
  transform: scale(0.7);
}
#login-page section:first-child a#mainPage-link svg:hover {
  transform: scale(0.8);
}
#login-page section:nth-child(2) {
  width: 65%;
  height: 100%;
  -moz-column-gap: 40px;
       column-gap: 40px;
  color: #23273E;
  background-color: #FFDFD0;
}
#login-page section:nth-child(2) h1 {
  font-size: 3em;
}
#login-page section:nth-child(2) a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 40px;
       column-gap: 40px;
  text-decoration: none;
  color: #23273E;
}

#registration-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
#registration-page section {
  display: flex;
  justify-content: center;
  align-items: center;
}
#registration-page section:first-child {
  width: 35%;
  height: 100%;
  flex-direction: column;
  row-gap: 35px;
  color: #FFDFD0;
  background-color: #23273E;
}
#registration-page section:first-child h1 {
  font-size: 3em;
}
#registration-page section:first-child form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}
#registration-page section:first-child form input {
  width: 65%;
  padding: 3px 10px;
  border: 2px solid #FFDFD0;
  border-radius: 30px;
  background-color: transparent;
  color: #FFDFD0;
}
#registration-page section:first-child form input::-moz-placeholder {
  color: #FFDFD0;
}
#registration-page section:first-child form input::placeholder {
  color: #FFDFD0;
}
#registration-page section:first-child form input:focus {
  outline: none !important;
  box-shadow: 0 0 5px #FFDFD0;
}
#registration-page section:first-child form input[type=submit] {
  width: 40%;
  margin-top: 20px;
  color: #23273E;
  font-size: 1.2em;
  font-weight: 800;
  background-color: #FFDFD0;
  cursor: pointer;
}
#registration-page section:first-child a#registration-link {
  text-decoration: underline;
  color: #FFDFD0;
}
#registration-page section:first-child a#mainPage-link {
  position: absolute;
  bottom: 30px;
  left: 40px;
  text-decoration: none;
  color: #FFDFD0;
}
#registration-page section:first-child a#mainPage-link svg {
  transform: scale(0.7);
}
#registration-page section:first-child a#mainPage-link svg:hover {
  transform: scale(0.8);
}
#registration-page section:nth-child(2) {
  width: 65%;
  height: 100%;
  color: #23273E;
  background-color: #FFDFD0;
}
#registration-page section:nth-child(2) h1 {
  font-size: 3em;
}
#registration-page section:nth-child(2) a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 40px;
       column-gap: 40px;
  text-decoration: none;
  color: #23273E;
}

main#change-password-page {
  width: 100%;
  height: 100vh;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
main#change-password-page h2 {
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: #FFDFD0;
}
main#change-password-page section {
  width: 60%;
  margin-top: 50px;
  margin-bottom: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main#change-password-page section form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}
main#change-password-page section form input {
  width: 60%;
  height: 30px;
  padding: 16px 15px;
  background-color: transparent;
  color: #FFDFD0;
  border: 2px solid #FFDFD0;
  border-radius: 20px;
}
main#change-password-page section form input:focus {
  outline: none;
  box-shadow: 0 0 5px #FFDFD0;
}
main#change-password-page section form ::-moz-placeholder {
  color: #FFDFD0;
}
main#change-password-page section form ::placeholder {
  color: #FFDFD0;
}
main#change-password-page section form #form-buttons {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
main#change-password-page section form #form-buttons button {
  padding: 4px 40px;
  text-align: center;
  font-weight: 800;
  color: #23273E;
  background-color: #FFDFD0;
  border-radius: 30px;
  cursor: pointer;
}
main#change-password-page section form #form-buttons a {
  padding-left: 40px;
  padding-right: 40px;
}

main#profile-page {
  margin-bottom: 40vh;
  margin-top: 5vh;
}
main#profile-page > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15%;
  padding-right: 15%;
  -moz-column-gap: 150px;
       column-gap: 150px;
  row-gap: 85px;
}
main#profile-page > section h2 {
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: #FFDFD0;
}
main#profile-page > section #profile-picture {
  width: 250px;
  aspect-ratio: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #FFDFD0;
}
main#profile-page > section #profile-picture img {
  transform: scale(1.5);
}
main#profile-page > section #profile-info {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  color: #FFDFD0;
}
main#profile-page > section #profile-info .button-styled {
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}
main#profile-page > section #profile-info form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
main#profile-page > section #profile-info form .hidden-element {
  display: none;
}
main#profile-page > section #profile-info form table {
  width: 100%;
  border-collapse: collapse;
}
main#profile-page > section #profile-info form table td {
  width: 50%;
  height: 50px;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  border-bottom: 1px solid #FFDFD0;
}
main#profile-page > section #profile-info form table td input {
  width: 90%;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 10px;
}
main#profile-page > section #profile-info form button {
  width: 30%;
}
main#profile-page > section #profile-info form #edit-button {
  width: 45%;
}
main#profile-page > section #profile-info form #submit-button {
  background-color: #FFDFD0;
  color: #23273E;
}
main#profile-page > section #profile-info button {
  width: 40%;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 4px 0px;
}

section#teams {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
section#teams h3 {
  width: 40%;
  padding-left: 5%;
  color: #FFDFD0;
  font-size: 2em;
}
section#teams button {
  width: 40%;
}
section#teams ul {
  width: 100%;
  height: 40vh;
  margin-top: 20px;
  overflow-y: auto;
}
section#teams ul::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}
section#teams ul::-webkit-scrollbar-thumb {
  background: #FFDFD0;
  border-radius: 20px;
}
section#teams ul::-webkit-scrollbar-track {
  background: #23273E;
  border-radius: 20px;
}
section#teams ul li {
  width: 98%;
  margin-bottom: 12px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  color: #23273E;
  font-weight: 800;
  background-color: #FFDFD0;
  border-radius: 30px;
}
section#teams ul li a {
  color: #23273E;
  text-decoration: none;
}
section#teams ul li a:nth-child(2) {
  width: 35px;
  height: 30px;
}
section#teams ul li img {
  transform: scale(0.7);
}

main#users-page {
  margin-bottom: 40vh;
  margin-top: 10vh;
}
main#users-page > section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15%;
  padding-right: 15%;
  -moz-column-gap: 150px;
       column-gap: 150px;
  row-gap: 80px;
}
main#users-page > section h2 {
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: #FFDFD0;
}
main#users-page > section form {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
main#users-page > section form input[type=text] {
  width: 100%;
  padding: 4px 20px;
  border-radius: 30px;
  background-color: #fff;
}
main#users-page > section form button[type=submit] {
  width: 32px;
  height: 32px;
  position: relative;
  left: -34px;
  top: 2px;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 20px;
  border: initial;
}
main#users-page > section form button[type=submit]:hover {
  background-color: #eee;
}
main#users-page > section form button[type=submit] img {
  transform: scale(0.8);
}

div#users-list-parent {
  width: 80%;
}
div#users-list-parent #list-legend {
  width: calc(100% - 45px);
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 25px;
  padding-left: 14%;
  padding-right: 5%;
  display: grid;
  grid-template-columns: 0.75fr 1fr 1fr 1fr;
}
div#users-list-parent #list-legend p {
  color: #FFDFD0;
}
div#users-list-parent #users-list {
  width: 100%;
  max-height: 80vh;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 15px;
  overflow-y: auto;
}
div#users-list-parent #users-list::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}
div#users-list-parent #users-list::-webkit-scrollbar-thumb {
  background: #FFDFD0;
  border-radius: 20px;
}
div#users-list-parent #users-list::-webkit-scrollbar-track {
  background: #23273E;
  border-radius: 20px;
}

.user-list-item {
  width: 100%;
  list-style-type: none;
}
.user-list-item a {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15%;
  padding-right: 5%;
  display: grid;
  grid-template-columns: 0.75fr 1fr 1fr 1fr;
  background-color: #FFDFD0;
  color: #23273E;
  border-radius: 30px;
  text-decoration: none;
}
.user-list-item a#highlighted-user {
  background-color: #202227;
  color: #FFDFD0;
  border: #FFDFD0 solid 2px;
}

section#admin-section {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 40px;
}
section#admin-section h3 {
  width: 100%;
  text-align: left;
  font-size: 2em;
  color: #FFDFD0;
}

main#team-page {
  margin-bottom: 40vh;
  margin-top: 5vh;
}
main#team-page > section {
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 150px;
       column-gap: 150px;
  row-gap: 80px;
}
main#team-page > section h2 {
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: #FFDFD0;
}
main#team-page > section #profile-picture {
  width: 250px;
  margin-top: 100px;
  aspect-ratio: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #FFDFD0;
}
main#team-page > section #profile-picture img {
  transform: scale(1.5);
}

section#team-members {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
section#team-members h3 {
  width: 90%;
  text-align: right;
  color: #FFDFD0;
  font-size: 2em;
}
section#team-members ul#list-of-members {
  width: 100%;
  height: 30vh;
  margin-top: 20px;
  overflow-y: auto;
}
section#team-members ul#list-of-members::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}
section#team-members ul#list-of-members::-webkit-scrollbar-thumb {
  background: #FFDFD0;
  border-radius: 20px;
}
section#team-members ul#list-of-members::-webkit-scrollbar-track {
  background: #23273E;
  border-radius: 20px;
}
section#team-members ul#list-of-members li {
  width: 98%;
  margin-bottom: 12px;
  padding: 3px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  color: #23273E;
  font-weight: 800;
  background-color: #FFDFD0;
  border-radius: 30px;
}
section#team-members ul#list-of-members li a {
  text-decoration: none;
  color: #23273E;
}
section#team-members ul#list-of-members li img {
  transform: scale(0.8);
}
section#team-members button {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: solid 2px #FFDFD0;
  border-radius: 50px;
  color: #FFDFD0;
  cursor: pointer;
}
section#team-members button p {
  position: relative;
  top: -4px;
  font-size: 2.2em;
  font-weight: 200;
}
section#team-members #add-new-member-to-team-fieldset {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 30px;
  border: initial;
}
section#team-members #add-new-member-to-team-fieldset form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 30px;
}
section#team-members #add-new-member-to-team-fieldset form ul#list-of-users {
  width: 80%;
  height: 30vh;
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 12px;
}
section#team-members #add-new-member-to-team-fieldset form ul#list-of-users::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}
section#team-members #add-new-member-to-team-fieldset form ul#list-of-users::-webkit-scrollbar-thumb {
  background: #FFDFD0;
  border-radius: 20px;
}
section#team-members #add-new-member-to-team-fieldset form ul#list-of-users::-webkit-scrollbar-track {
  background: #23273E;
  border-radius: 20px;
}
section#team-members #add-new-member-to-team-fieldset form ul#list-of-users li {
  width: 90%;
  padding: 3px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  color: #23273E;
  font-weight: 800;
  background-color: #FFDFD0;
  border-radius: 30px;
}
section#team-members #add-new-member-to-team-fieldset form ul#list-of-users li label {
  width: 90%;
  text-align: center;
}
section#team-members #add-new-member-to-team-fieldset form input[type=submit] {
  width: 80px;
  height: 35px;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #FFDFD0;
  color: #FFDFD0;
  cursor: pointer;
}

section#tournaments-in-team {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
section#tournaments-in-team h3 {
  width: 100%;
  padding-left: 5%;
  color: #FFDFD0;
  font-size: 2em;
}
section#tournaments-in-team ul {
  width: 100%;
  height: 40vh;
  margin-top: 20px;
  overflow-y: auto;
}
section#tournaments-in-team ul::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}
section#tournaments-in-team ul::-webkit-scrollbar-thumb {
  background: #FFDFD0;
  border-radius: 20px;
}
section#tournaments-in-team ul::-webkit-scrollbar-track {
  background: #23273E;
  border-radius: 20px;
}
section#tournaments-in-team ul li {
  width: 98%;
  margin-bottom: 12px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  color: #23273E;
  font-weight: 800;
  background-color: #FFDFD0;
  border-radius: 30px;
}
section#tournaments-in-team ul li a {
  text-decoration: none;
  color: #23273E;
}
section#tournaments-in-team ul li img {
  transform: scale(0.8);
}

main#create-team-page {
  margin-bottom: 40vh;
  margin-top: 10vh;
}
main#create-team-page > section {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 150px;
       column-gap: 150px;
  row-gap: 80px;
}
main#create-team-page > section h2 {
  width: 100%;
  color: #FFDFD0;
  text-align: center;
  font-size: 3em;
}
main#create-team-page > section form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 120px;
}
main#create-team-page > section form #left-box {
  width: 250px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #FFDFD0;
}
main#create-team-page > section form #left-box #profile-picture {
  width: 100%;
  aspect-ratio: 0.9;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #FFDFD0;
}
main#create-team-page > section form #left-box #profile-picture img {
  transform: scale(1.5);
}
main#create-team-page > section form #left-box h3 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 2em;
}
main#create-team-page > section form #left-box input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 20px;
}
main#create-team-page > section form #right-box {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
main#create-team-page > section form #right-box #team-name-input {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}
main#create-team-page > section form #right-box #team-name-input h3 {
  color: #FFDFD0;
  font-size: 2em;
}
main#create-team-page > section form #right-box #team-name-input input {
  width: 60%;
  padding: 5px 10px;
  border-radius: 20px;
}
main#create-team-page > section form #right-box section#team-members {
  width: 100% !important;
}
main#create-team-page > section form #submit-button {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  padding: 5px 10px;
  color: #FFDFD0;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #FFDFD0;
  border-radius: 60px;
}

section#create-page-team-members {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
section#create-page-team-members h3 {
  width: 90%;
  text-align: center;
  color: #FFDFD0;
  font-size: 2em;
}
section#create-page-team-members button {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: solid 2px #FFDFD0;
  border-radius: 50px;
  color: #FFDFD0;
  cursor: pointer;
}
section#create-page-team-members button p {
  position: relative;
  top: -4px;
  font-size: 2.2em;
  font-weight: 200;
}
section#create-page-team-members #add-new-member-to-team-fieldset {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 30px;
  border: initial;
}
section#create-page-team-members #add-new-member-to-team-fieldset ul#list-of-users {
  width: 80%;
  height: 30vh;
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 12px;
}
section#create-page-team-members #add-new-member-to-team-fieldset ul#list-of-users::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}
section#create-page-team-members #add-new-member-to-team-fieldset ul#list-of-users::-webkit-scrollbar-thumb {
  background: #FFDFD0;
  border-radius: 20px;
}
section#create-page-team-members #add-new-member-to-team-fieldset ul#list-of-users::-webkit-scrollbar-track {
  background: #23273E;
  border-radius: 20px;
}
section#create-page-team-members #add-new-member-to-team-fieldset ul#list-of-users li {
  width: 90%;
  padding: 3px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  color: #23273E;
  font-weight: 800;
  background-color: #FFDFD0;
  border-radius: 30px;
}
section#create-page-team-members #add-new-member-to-team-fieldset ul#list-of-users li label {
  width: 90%;
  text-align: center;
}
section#create-page-team-members #add-new-member-to-team-fieldset ul#list-of-users #team-manager {
  background-color: #202227;
  color: #FFDFD0;
  border: #FFDFD0 solid 2px;
}
section#create-page-team-members #add-new-member-to-team-fieldset input[type=submit] {
  width: 80px;
  height: 35px;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #FFDFD0;
  color: #FFDFD0;
  cursor: pointer;
}

main#teams-page {
  margin-bottom: 40vh;
  margin-top: 10vh;
}
main#teams-page > section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15%;
  padding-right: 15%;
  -moz-column-gap: 150px;
       column-gap: 150px;
  row-gap: 80px;
}
main#teams-page > section h2 {
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: #FFDFD0;
}
main#teams-page > section form {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
main#teams-page > section form input[type=text] {
  width: 100%;
  padding: 4px 20px;
  border-radius: 30px;
  background-color: #fff;
}
main#teams-page > section form button[type=submit] {
  width: 32px;
  height: 32px;
  position: relative;
  left: -34px;
  top: 2px;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 20px;
  border: initial;
}
main#teams-page > section form button[type=submit]:hover {
  background-color: #eee;
}
main#teams-page > section form button[type=submit] img {
  transform: scale(0.8);
}
main#teams-page > section a.button-styled {
  padding: 4px 20px;
  text-decoration: none;
}

div#teams-list-parent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
div#teams-list-parent #list-legend {
  width: 62%;
  margin-left: 19%;
  margin-right: 19%;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 0.75fr 1fr 1fr;
}
div#teams-list-parent #list-legend p {
  color: #FFDFD0;
}
div#teams-list-parent #list-legend p:nth-child(2) {
  text-align: center;
}
div#teams-list-parent #list-legend p:nth-child(3) {
  text-align: right;
}
div#teams-list-parent #teams-list {
  width: 80%;
  max-height: 80vh;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 15px;
  overflow-y: auto;
}
div#teams-list-parent #teams-list::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}
div#teams-list-parent #teams-list::-webkit-scrollbar-thumb {
  background: #FFDFD0;
  border-radius: 20px;
}
div#teams-list-parent #teams-list::-webkit-scrollbar-track {
  background: #23273E;
  border-radius: 20px;
}

.team-list-item {
  width: 100%;
  list-style-type: none;
}
.team-list-item a {
  width: 100%;
  padding: 5px 10%;
  display: grid;
  grid-template-columns: 0.75fr 1fr 1fr;
  background-color: #FFDFD0;
  color: #23273E;
  border-radius: 30px;
  text-decoration: none;
}
.team-list-item a p:nth-child(2) {
  text-align: center;
}
.team-list-item a p:nth-child(3) {
  padding-right: 25%;
  text-align: right;
}

#tournament-form {
  width: 100%;
  margin-top: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
#tournament-form button {
  margin-right: 10%;
}
#tournament-form .button-styled {
  padding-left: 40px;
  padding-right: 40px;
}
#tournament-form #submit-button {
  background-color: #FFDFD0;
  color: #23273E;
}
#tournament-form .hidden-element {
  display: none;
}
#tournament-form #tournament-schedule {
  width: 90%;
  margin-left: 10%;
  padding-right: 10%;
  margin-top: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
#tournament-form #tournament-schedule::-webkit-scrollbar {
  width: 4px;
  height: 10px;
  margin-right: 5px;
  opacity: 0;
}
#tournament-form #tournament-schedule::-webkit-scrollbar-thumb {
  background: #0e0f11;
  border-radius: 20px;
  opacity: 0;
}
#tournament-form #tournament-schedule::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
  opacity: 0;
}
#tournament-form #tournament-schedule div {
  min-width: 250px;
  position: relative;
}
#tournament-form #tournament-schedule div fieldset {
  border: initial;
}
#tournament-form #tournament-schedule div fieldset > p, #tournament-form #tournament-schedule div fieldset > input {
  position: absolute;
  transform: translateY(5px);
  z-index: 3;
}
#tournament-form #tournament-schedule div fieldset > p {
  left: 45%;
  color: #FFDFD0;
}
#tournament-form #tournament-schedule div fieldset > input {
  left: 30%;
  color: #000;
  width: 40%;
}
#tournament-form #tournament-schedule div fieldset span {
  width: 100%;
  height: 80px;
  overflow-x: auto;
  overflow-y: visible;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  -moz-column-gap: 5px;
       column-gap: 5px;
  color: #FFDFD0;
  border-bottom: 2px solid #FFDFD0;
}
#tournament-form #tournament-schedule div fieldset span::-webkit-scrollbar {
  display: none;
  width: 4px;
  height: 10px;
  margin-right: 5px;
  opacity: 0;
}
#tournament-form #tournament-schedule div fieldset span::-webkit-scrollbar-thumb {
  background: #0e0f11;
  border-radius: 20px;
  opacity: 0;
}
#tournament-form #tournament-schedule div fieldset span::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
  opacity: 0;
}
#tournament-form #tournament-schedule div fieldset span a {
  width: 90%;
  text-align: center;
  text-decoration: none;
  color: #FFDFD0;
}
#tournament-form #tournament-schedule div fieldset span input {
  width: 10%;
  align-self: flex-end;
  margin-bottom: 5px;
}
#tournament-form #tournament-schedule div span:nth-of-type(even) {
  border-right: 2px solid #FFDFD0;
}
#tournament-form #tournament-schedule div:nth-child(2) fieldset > p, #tournament-form #tournament-schedule div:nth-child(2) fieldset > input {
  transform: translateY(-30px);
}
#tournament-form #tournament-schedule div:nth-child(2) fieldset span {
  position: relative;
  top: -40px;
  height: 160px;
}
#tournament-form #tournament-schedule div:nth-child(3) fieldset > p, #tournament-form #tournament-schedule div:nth-child(3) fieldset > input {
  transform: translateY(-110px);
}
#tournament-form #tournament-schedule div:nth-child(3) fieldset span {
  position: relative;
  top: -120px;
  height: 320px;
}
#tournament-form #tournament-schedule div:nth-child(4) fieldset > p, #tournament-form #tournament-schedule div:nth-child(4) fieldset > input {
  transform: translateY(-270px);
}
#tournament-form #tournament-schedule div:nth-child(4) fieldset span {
  position: relative;
  top: -280px;
  height: 640px;
}
#tournament-form #tournament-schedule div:nth-child(5) fieldset > p, #tournament-form #tournament-schedule div:nth-child(5) fieldset > input {
  transform: translateY(-590px);
}
#tournament-form #tournament-schedule div:nth-child(5) fieldset span {
  position: relative;
  top: -600px;
  height: 1280px;
}
#tournament-form #tournament-schedule div:nth-child(6) fieldset > p, #tournament-form #tournament-schedule div:nth-child(6) fieldset > input {
  transform: translateY(-1390px);
}
#tournament-form #tournament-schedule div:nth-child(6) fieldset span {
  position: relative;
  top: -1400px;
  height: 2560px;
}
#tournament-form #tournament-schedule div#ul-final span {
  width: 100%;
  height: 80px;
  overflow-x: auto;
  overflow-y: visible;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  -moz-column-gap: 5px;
       column-gap: 5px;
  color: #FFDFD0;
  border-bottom: 2px solid #FFDFD0;
}
#tournament-form #tournament-schedule div#ul-final span a {
  text-decoration: none;
  color: #FFDFD0;
}

main#tournament-page {
  margin-bottom: 40vh;
  margin-top: 10vh;
}
main#tournament-page > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15%;
  padding-right: 15%;
  -moz-column-gap: 150px;
       column-gap: 150px;
  row-gap: 30px;
}
main#tournament-page > section h2 {
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: #FFDFD0;
}
main#tournament-page > section a#approved-button {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
}
main#tournament-page > section #tournament-description {
  width: 100%;
  color: #FFDFD0;
  margin-top: 40px;
}
main#tournament-page > section #tournament-description h3 {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  font-size: 2.5em;
}
main#tournament-page > section #tournament-description p {
  text-align: center;
  margin-bottom: 40px;
}

main#tournaments-page {
  margin-bottom: 40vh;
  margin-top: 10vh;
}
main#tournaments-page > section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15%;
  padding-right: 15%;
  -moz-column-gap: 150px;
       column-gap: 150px;
  row-gap: 80px;
}
main#tournaments-page > section h2 {
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: #FFDFD0;
}
main#tournaments-page > section form#search-from {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
main#tournaments-page > section form#search-from input[type=text] {
  width: 100%;
  padding: 4px 20px;
  border-radius: 30px;
  background-color: #fff;
}
main#tournaments-page > section form#search-from button[type=submit] {
  width: 32px;
  height: 32px;
  position: relative;
  left: -34px;
  top: 2px;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 20px;
  border: initial;
}
main#tournaments-page > section form#search-from button[type=submit]:hover {
  background-color: #eee;
}
main#tournaments-page > section form#search-from button[type=submit] img {
  transform: scale(0.8);
}
main#tournaments-page > section a.button-styled {
  padding: 4px 20px;
  text-decoration: none;
}

section#participants {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 20px;
}
section#participants h3 {
  width: 100%;
  padding-left: 10%;
  text-align: left;
  color: #FFDFD0;
  font-size: 2em;
}
section#participants ul {
  width: 100%;
  height: 30vh;
  overflow-y: auto;
}
section#participants ul::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}
section#participants ul::-webkit-scrollbar-thumb {
  background: #FFDFD0;
  border-radius: 20px;
}
section#participants ul::-webkit-scrollbar-track {
  background: #23273E;
  border-radius: 20px;
}
section#participants ul li {
  width: 98%;
  margin-bottom: 12px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  color: #23273E;
  font-weight: 800;
  background-color: #FFDFD0;
  border-radius: 30px;
}
section#participants ul li a {
  color: #23273E;
  text-decoration: none;
}
section#participants ul li a:nth-child(2) {
  width: 35px;
  height: 30px;
}
section#participants ul li img {
  transform: scale(0.7);
}
section#participants form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
section#participants form select {
  width: 50%;
  padding: 2px 10px;
  color: #23273E;
  font-weight: 800;
  background-color: #FFDFD0;
  border: 2px solid #FFDFD0;
  border-radius: 20px;
  outline: initial;
}

section#more-info {
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-self: flex-start;
}
section#more-info h3 {
  width: 95%;
  text-align: right;
  color: #FFDFD0;
  font-size: 2em;
}
section#more-info div#more-info-box {
  width: 100%;
  padding: 30px 50px;
  margin-top: 20px;
  border-radius: 25px;
  background-color: #FFDFD0;
  color: #23273E;
}
section#more-info div#more-info-box h4 {
  margin-bottom: 10px;
  text-align: left;
  width: 50%;
  display: inline-block;
  font-size: 1.5em;
}
section#more-info div#more-info-box p {
  display: inline-block;
  width: 50%;
}

#tournament-tournaments-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
}
#tournament-tournaments-list form {
  width: 70%;
  height: 30px;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #FFDFD0;
}
#tournament-tournaments-list form label {
  font-size: 1.2em;
}
#tournament-tournaments-list ul {
  width: 100%;
  max-height: 110vh;
  overflow-y: auto;
}
#tournament-tournaments-list ul::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}
#tournament-tournaments-list ul::-webkit-scrollbar-thumb {
  background: #FFDFD0;
  border-radius: 20px;
}
#tournament-tournaments-list ul::-webkit-scrollbar-track {
  background: #23273E;
  border-radius: 20px;
}
#tournament-tournaments-list ul li {
  width: 95%;
  height: 100px;
  border: solid 2px #FFDFD0;
  border-radius: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}
#tournament-tournaments-list ul li a {
  width: 100%;
  text-decoration: none;
  padding: 0;
}
#tournament-tournaments-list ul li a div {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
#tournament-tournaments-list ul li a div:first-child {
  height: 60%;
  justify-content: flex-start;
  background-color: #FFDFD0;
  border-radius: 15px;
  color: #23273E;
  outline: 2px solid #FFDFD0;
}
#tournament-tournaments-list ul li a div:first-child p {
  width: 33.3333333333%;
}
#tournament-tournaments-list ul li a div:first-child p:nth-child(2) {
  font-weight: 800;
  font-size: 1.2em;
  text-align: center;
}
#tournament-tournaments-list ul li a div:nth-child(2) {
  height: 40%;
  justify-content: flex-start;
  color: #FFDFD0;
}
#tournament-tournaments-list ul li a div:nth-child(2) p {
  width: 33.3333333333%;
}
#tournament-tournaments-list ul li a div:nth-child(2) p:nth-child(2) {
  text-align: center;
}
#tournament-tournaments-list ul li a div:nth-child(2) p:nth-child(3) {
  text-align: right;
}
#tournament-tournaments-list ul li:last-child {
  margin-bottom: 0;
}

main#create-tournament-page {
  margin-bottom: 40vh;
  margin-top: 10vh;
}
main#create-tournament-page > section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 15%;
  padding-right: 15%;
  row-gap: 100px;
}
main#create-tournament-page > section h2 {
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: #FFDFD0;
}
main#create-tournament-page > section form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 60px;
  justify-items: center;
  align-items: center;
}
main#create-tournament-page > section form .item:nth-child(odd) {
  justify-self: left;
  font-weight: 800;
  color: #FFDFD0;
  font-size: 1.5em;
}
main#create-tournament-page > section form input {
  width: 80%;
  background-color: transparent;
  border: initial;
  border-bottom: solid 2px #FFDFD0;
  text-align: center;
  color: #FFDFD0;
}
main#create-tournament-page > section form input:focus {
  outline: initial;
  border-bottom: 4px solid #FFDFD0;
}
main#create-tournament-page > section form ::-webkit-calendar-picker-indicator {
  filter: invert(0.7);
}
main#create-tournament-page > section form textarea {
  padding: 5px;
  background-color: transparent;
  border: initial;
  border: solid 2px #FFDFD0;
  color: #FFDFD0;
}
main#create-tournament-page > section form textarea:focus {
  outline: 1px solid #FFDFD0;
}
main#create-tournament-page > section form input[type=submit] {
  width: 30%;
  height: 40px;
  grid-column: 1/span 2;
  margin-top: 40px;
  font-size: 1.2em;
  background-color: transparent;
  border: solid 2px #FFDFD0;
  border-radius: 30px;
  cursor: pointer;
}
main#create-tournament-page > section form select {
  width: 20%;
  text-align: center;
}

main#sport-page {
  margin-bottom: 40vh;
  margin-top: 10vh;
}
main#sport-page > section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 20%;
  padding-right: 20%;
  -moz-column-gap: 150px;
       column-gap: 150px;
  row-gap: 50px;
}
main#sport-page > section h2 {
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: #FFDFD0;
}
main#sport-page > section form#search-from {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
main#sport-page > section form#search-from input[type=text] {
  width: 100%;
  padding: 4px 20px;
  border-radius: 30px;
  background-color: #fff;
}
main#sport-page > section form#search-from button[type=submit] {
  width: 32px;
  height: 32px;
  position: relative;
  left: -34px;
  top: 2px;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 20px;
  border: initial;
}
main#sport-page > section form#search-from button[type=submit]:hover {
  background-color: #eee;
}
main#sport-page > section form#search-from button[type=submit] img {
  transform: scale(0.8);
}
main#sport-page > section button#plus-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: solid 2px #FFDFD0;
  border-radius: 50px;
  color: #FFDFD0;
  cursor: pointer;
}
main#sport-page > section button#plus-btn p {
  position: relative;
  top: -4px;
  font-size: 2.2em;
  font-weight: 200;
}
main#sport-page > section form#create-form {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  row-gap: 20px;
}
main#sport-page > section form#create-form div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  color: #FFDFD0;
}
main#sport-page > section form#create-form div input {
  background-color: transparent;
  outline: initial;
  border: initial;
  color: #FFDFD0;
  border-bottom: solid 2px #FFDFD0;
}
main#sport-page > section form#create-form button[type=submit] {
  grid-column: 1/span 4;
}

div#sports-list-parent {
  width: 100%;
}
div#sports-list-parent #list-legend {
  width: 50%;
  margin-left: 45%;
  margin-right: 5%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
div#sports-list-parent #list-legend p {
  color: #FFDFD0;
}
div#sports-list-parent #sports-list {
  width: 100%;
  max-height: 60vh;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 15px;
  overflow-y: auto;
}
div#sports-list-parent #sports-list::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}
div#sports-list-parent #sports-list::-webkit-scrollbar-thumb {
  background: #FFDFD0;
  border-radius: 20px;
}
div#sports-list-parent #sports-list::-webkit-scrollbar-track {
  background: #23273E;
  border-radius: 20px;
}

.sport-list-item {
  width: 100%;
  padding: 5px 10%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFDFD0;
  color: #23273E;
  border-radius: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: #23273E;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  margin-right: 5px;
  opacity: 0;
}
body::-webkit-scrollbar-thumb {
  background: #0e0f11;
  border-radius: 20px;
  opacity: 0;
}
body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
  opacity: 0;
}

.hidden-element {
  display: none !important;
}
