@import "../variables";

.team-list-item{
    width: 100%;
    list-style-type: none;

    a{
        width: 100%;
        padding: 5px 10%;
    
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        
        display: grid;
        grid-template-columns: 0.75fr 1fr 1fr;

        background-color: $mainLightBrown;
        color: $mainBlue;
        border-radius: 30px;
        text-decoration: none;

        p:nth-child(2){
            text-align: center;
        }

        p:nth-child(3){
            padding-right: 25%;
            text-align: right;
        }
    }

}
