@import "../variables";


div#teams-list-parent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;


    #list-legend{
        width: 62%;
        margin-left: 19%;
        margin-right: 19%;
        margin-bottom: 10px;

        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // flex-direction: row;
        // flex-wrap: nowrap;

        display: grid;
        grid-template-columns: 0.75fr 1fr 1fr;


        p{
            color: $mainLightBrown;
        }

        p:nth-child(2){
            text-align: center;
        }

        p:nth-child(3){
            text-align: right;
        }
    }

    #teams-list{
        width: 80%;
        max-height: 80vh;
        padding: 5px 20px;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 15px;

        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 6px;
            height: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: $mainLightBrown;
            border-radius: 20px;
        }

        &::-webkit-scrollbar-track {
            background: $mainBlue;
            border-radius: 20px;
        }
    }


}



