@import "../variables";


div#users-list-parent{
    width: 80%;


    #list-legend{
        width: 60%;
        margin-left: 18%;
        margin-right: 22%;
        margin-bottom: 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;

        p{
            color: $mainLightBrown;
        }
    }

    #users-list{
        width: 100%;
        height: 100vh;
        padding: 5px 20px;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 15px;
        
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 6px; 
            height: 10px; 
        }

        &::-webkit-scrollbar-thumb { 
            background: $mainLightBrown;
            border-radius: 20px;
        }

        &::-webkit-scrollbar-track {
            background: $mainBlue;
            border-radius: 20px;
        }
    }


}



