@import "../variables";

.user-list-item{
    width: 100%;
    list-style-type: none;

    a{
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15%;
        padding-right: 5%;
        
        
        display: grid;
        grid-template-columns: 0.75fr 1fr 1fr 1fr;
        
        background-color: $mainLightBrown;
        color: $mainBlue;
        border-radius: 30px;
        text-decoration: none;


    }

}