.button-styled{
    // width: 40%;
    padding: 4px 10px;
    
    color: $mainLightBrown;
    font-weight: 800;
    border: 2px solid $mainLightBrown;
    background-color: transparent;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}