@import "../variables";


#tournament-tournaments-list{

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;

    ul{
        width: 100%;
        max-height: 110vh;
        overflow-y: auto;
        
        &::-webkit-scrollbar {
            width: 6px; 
            height: 10px; 
        }

        &::-webkit-scrollbar-thumb { 
            background: $mainLightBrown;
            border-radius: 20px;
        }

        &::-webkit-scrollbar-track {
            background: $mainBlue;
            border-radius: 20px;
        }

        li{
            width: 95%;
            height: 100px;
            
            border: solid 2px $mainLightBrown;
            border-radius: 20px;
            margin-bottom: 20px;
            font-weight: 600;

            a{
                width: 100%;
                text-decoration: none;
                padding: 0;

                div{
                    width: 100%;
                    padding-left: 40px;
                    padding-right: 40px;

                    display: flex;
                    align-items: center;
                    flex-direction: row;
                }
                
                div:first-child{
                    height: 60%;    

                    justify-content: flex-start;

                    background-color: $mainLightBrown;
                    border-radius: 15px;
                    color: $mainBlue;
                    outline: 2px solid $mainLightBrown;

                    p{
                        width: calc((1/3)*100%);
                    }

                    p:nth-child(2){
                        font-weight: 800;
                        font-size: 1.2em;
                        text-align: center;
                    }
                }
                
                div:nth-child(2){
                    height: 40%;    

                    justify-content: flex-start;

                    color: $mainLightBrown;
                    
                    p{
                        width: calc((1/3)*100%);
                    }

                    p:nth-child(2){
                        text-align: center;
                    }
                    
                    p:nth-child(3){
                        text-align: right;
                    }

                    

                }


            }


            
            &:last-child{
                margin-bottom: 0;
            }
        }

            
    
    }
}
