@import "../variables";

.sport-list-item{
    width: 100%;
    padding: 5px 10%;
    list-style-type: none;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    background-color: $mainLightBrown;
    color: $mainBlue;
    border-radius: 30px;

    p:nth-child(2){
        text-align: center;
    }

    p:nth-child(3){
        padding-right: 20%;
        text-align: right;
    }

}
